---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { ABOUT_METADATA } from "@consts";
---

<Layout title={ABOUT_METADATA.TITLE} description={ABOUT_METADATA.DESCRIPTION}>
  <Container>
    <h1>about</h1>
    <article>
      <p>Hi there! I'm Yifei Xu, or【徐逸飞】in Chinese.</p>
      <p>
        This is my personal website where I maintain a rather casually-written
        brain dump of thoughts and also share various photographs I've taken on
        my cameras. I currently run a Fujifilm X100 (the OG) and a Samsung
        Galaxy S25.
      </p>
      <h2>life</h2>
      <p>
        I was born in Beijing, China 🇨🇳, but moved to Calgary, Canada 🇨🇦 on a
        one-way flight shortly before my first birthday. I studied Computer
        Engineering at the University of Waterloo from 2018 to 2024. Nowadays, I
        live in Toronto where I work as a full-stack software engineer.
      </p>
      <p>
        I speak English and Mandarin Chinese, but I'm also learning some
        Japanese on the side! I'd probably fail the N3, but it's enough to
        survive as a tourist.
      </p>
    </article>
  </Container>
</Layout>
