---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import PhotoGallery from "@components/PhotoGallery.astro";
import { GALLERY_METADATA } from "@consts";
---

<Layout
  title={GALLERY_METADATA.TITLE}
  description={GALLERY_METADATA.DESCRIPTION}
>
  <Container>
    <h1>gallery</h1>
    <a href="/gallery/tags">browse by tag →</a>
  </Container>
  <Container width="md">
    <PhotoGallery />
  </Container>
</Layout>
